.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  height: 200px;
  width: 100%;
  background-color: #e3eff0;
  padding-top: 40px;
}

.task-container{
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
 
}

.btn{
  background-color:#5d6c6d !important ;
  border-color: #131616;
  
}

.btn:hover{
  background-color:#94acae !important ;
  border-color: #131616;
  
}

.task-header{
  display:flex;
  margin:50px;
}

